{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href={% static 'images/me.ico' %} />
    <link rel="bookmark" href={% static 'images/me.ico' %} type="image/x-icon" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Louis Young|谦和之处见卓越</title>
    {% block title %}{% endblock %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'mainsite:index' %}">Louis Young 主页</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href='about.html'>关于</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">
        <div class="row clearfix">
                <div class="col-xs-12 column">
                        <div style="float:left;padding-top:8px">
                            <img src="https://ws1.sinaimg.cn/large/6af92b9fgy1foxpj6bcsqj20hr0hsgnc.jpg" alt="" class="img-circle" style="height:76px" >
                        </div>
                        <div style="float:left;padding-left:20px">
                            <h1 style="letter-spacing:5px" >
                                谦和之处见卓越
                            </h1>
                            <a href="https://www.zhihu.com/people/louis-young-23/activities"><img src="{% static 'images/zhihu.png'%}" alt="" style="height:20px;padding-right:20px"></a>
                            <a href="https://github.com/LouisYZK"><img src="{% static 'images/github.png'%}" alt="" style="height:20px;padding-right:20px"></a>
                            <a href="http://blog.csdn.net/IMISer2016"><img src="{% static 'images/csdn.png'%}" alt="CSDN" style="height:20px;padding-right:20px"></a>
                        </div>
                </div>
                <div class="col-md-6 column">
                </div>
        </div>
        <br>
    </div>
    <!-- Page Content -->
    {% block content %}{% endblock content %}

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p style="text-align: center;">Copyright &copy; 杨智凯的博客 2018 Powered by Django</p>
            </div>
            <!-- /.col-lg-12 -->
            <div class="col-lg-12" style="text-align: center;">
                <a href="https://github.com/LouisYZK">Github</a>
            </div>

        </div>
        <!-- /.row -->
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>

